In [ ]:
def add_two_num(a,b):
    return a+b